main {
  padding-top: 60px;
  padding-bottom: 5em;
}

.home {
  width: 50%;
  min-width: 200px;
  margin: 5em auto;
}

table.search-from {
  border-collapse: separate;
  border-spacing: 3px;
  th {
    padding-right: 3em;
  }
}